.navbar {

  .title {
    font-size: 2rem;
    margin-left: 15px;
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  margin-bottom: 25px;

  background-color: lightblue;
  width: 100%;
  height: 100px;

  ul {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    li {
      list-style-type: none;
      font-weight: bold;

      padding: 0 15px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
