<div *ngIf="showCategory()" class="category">
  <span class="category-header"><a id="{{category.key}}">{{category.name}}</a></span>
  <ul class="category-content" *ngFor="let item of items">
    <app-item [item]="item"></app-item>
  </ul>
</div>
