.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 25px;
  margin-bottom: 50px;
  padding: 5px;

  width: 95%;

  border: 1px gray dashed;

  .category-header {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline double;
  }

  .category-content {
    list-style-type: square;
  }
}
