<div class="container">
  <app-header [categories]="getNonEmptyCategories()"></app-header>
  <div>
    <div class="description">
      <p>
        Hier ist meine Wunschliste für wenn immer jemand ein Geschenck für mich sucht. Hier gibt es keine Priorität sondern
        alles ist <b>Alphabetisch sortiert</b>.
      </p>
    </div>
    <div *ngFor="let category of categories">
      <app-category [category]="category" [items]="getItemsForCategory(category.id)"></app-category>
    </div>
  </div>
</div>
