<div>
  <p-menubar [model]="menuItems">
    <button pButton label="Logout" icon="pi pi-power-off" (click)="logout()"></button>
  </p-menubar>
  <p-tabMenu [model]="tabs" [activeItem]="activeTab"></p-tabMenu>
  <div *ngIf="activeTab === tabs[0]">
    <p-table [value]="categories" [resizableColumns]="true"
             styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:10%">
          <col style="width:40%">
          <col style="width:40%">
          <col style="width:10%">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Key</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>{{category.key}}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-text" (click)="updateCategoryDialog(category)"></button>
            <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text" (click)="deleteCategory(category.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-button label="Add Category" (click)="openNewCategoryDialog()"></p-button>
  </div>
  <div *ngIf="activeTab === tabs[1]">
    <p-table [value]="items" [resizableColumns]="true"
             styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:2%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:5%">
          <col style="width:10%">
          <col style="width:5%">
          <col style="width:5%">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th pResizableColumn>Name</th>
          <th pResizableColumn>URL</th>
          <th pResizableColumn>Image</th>
          <th pResizableColumn>Price</th>
          <th>Category</th>
          <th>Disabled</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr [style.backgroundColor]="item.disabled ? 'lightcoral' : ''">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.url}}</td>
          <td>{{item.imageurl}}</td>
          <td>{{item.price}}€</td>
          <td>{{getCategoryNameById(+item.category)}}</td>
          <td>{{item.disabled}}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-text" (click)="updateItemDialog(item)"></button>
            <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text" (click)="deleteItem(item.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-button label="Add Item" (click)="openNewItemDialog()"></p-button>
  </div>
  <div *ngIf="activeTab === tabs[2]">
    Users
  </div>
  <p-dialog [(visible)]="showNewCategoryDialog" [modal]="true" [closable]="false">
    <ng-template pTemplate="header">
      <h3>Create new Category</h3>
    </ng-template>
    <div class="flex flex-column" *ngIf="newCategoryAction === DIALOG_ACTION_CREATE">
      <label for="newCategoryNameInput">Name</label>
      <input id="newCategoryNameInput" type="text" pInputText [(ngModel)]="newCategoryName"/>

      <label for="newCategoryKeyInput">Key</label>
      <input id="newCategoryKeyInput" type="text" pInputText [(ngModel)]="newCategoryKey"/>
    </div>
    <div class="flex flex-column" *ngIf="newCategoryAction === DIALOG_ACTION_UPDATE">
      <label for="updateCategoryId">ID</label>
      <input id="updateCategoryId" type="text" pInputText [(ngModel)]="newCategoryId" [disabled]="true"/>

      <label for="updateCategoryNameInput">Name</label>
      <input id="updateCategoryNameInput" type="text" pInputText [(ngModel)]="newCategoryName"/>

      <label for="updateCategoryKeyInput">Key</label>
      <input id="updateCategoryKeyInput" type="text" pInputText [(ngModel)]="newCategoryKey"/>
    </div>
    <p-footer>
      <button pButton type="button" label="Close" class="p-button-outlined" (click)="closeNewCategoryDialog()"></button>
      <button pButton type="button" label="Save" class="p-button" (click)="saveNewCategoryDialog()"></button>
    </p-footer>
  </p-dialog>
  <p-dialog [(visible)]="showNewItemDialog" [modal]="true" [closable]="false">
    <ng-template pTemplate="header">
      <h3>Create new Category</h3>
    </ng-template>
    <div class="flex flex-column" *ngIf="newItemAction === DIALOG_ACTION_CREATE">
      <label for="newItemNameInput">Name</label>
      <input id="newItemNameInput" type="text" pInputText [(ngModel)]="newItemName"/>

      <label for="newItemUrlInput">URL</label>
      <input id="newItemUrlInput" type="text" pInputText [(ngModel)]="newItemUrl"/>

      <label for="newItemImageUrlInput">Image</label>
      <input id="newItemImageUrlInput" type="text" pInputText [(ngModel)]="newItemImageurl"/>

      <label for="newItemPriceInput">Price</label>
      <input id="newItemPriceInput" type="text" pInputText [(ngModel)]="newItemPrice"/>

      <label for="newItemCategory">Category</label>
      <select name="newItemCategory" id="newItemCategory" [(ngModel)]="newItemCategory">
        <option *ngFor="let c of categories" value='{{c.id}}'>{{c.name}}</option>
      </select>
    </div>
    <div class="flex flex-column" *ngIf="newItemAction === DIALOG_ACTION_UPDATE">
      <label for="updateItemId">ID</label>
      <input id="updateItemId" type="text" pInputText [(ngModel)]="newItemId" [disabled]="true"/>

      <label for="updateItemNameInput">Name</label>
      <input id="updateItemNameInput" type="text" pInputText [(ngModel)]="newItemName"/>

      <label for="updateItemUrlInput">URL</label>
      <input id="updateItemUrlInput" type="text" pInputText [(ngModel)]="newItemUrl"/>

      <label for="updateItemImageUrlInput">Image</label>
      <input id="updateItemImageUrlInput" type="text" pInputText [(ngModel)]="newItemImageurl"/>

      <label for="updateItemPriceInput">Price</label>
      <input id="updateItemPriceInput" type="text" pInputText [(ngModel)]="newItemPrice"/>

      <label for="updateItemCategory">Category</label>
      <select class="p-dropdown" name="updateItemCategory" id="updateItemCategory" [(ngModel)]="newItemCategory">
        <option *ngFor="let c of categories" value='{{c.id}}'>{{c.name}}</option>
      </select>

      <label for="updateItemDisabledCheckbox">Disable</label>
      <p-checkbox id="updateItemDisabledCheckbox" name="updateItemDisabledCheckbox" [binary]="true"
                  [(ngModel)]="newItemDisabled" label="Disable"></p-checkbox>
    </div>
    <p-footer>
      <button pButton type="button" label="Close" class="p-button-outlined" (click)="closeNewItemDialog()"></button>
      <button pButton type="button" label="Save" class="p-button" (click)="saveNewItemDialog()"></button>
    </p-footer>
  </p-dialog>
</div>
