.category-item {
  width: 450px;
  height: 150px;

  .price {
    position: relative;
    top: -50px;
  }

  a {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: blue;
  }

  .nolink {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}
