<li class="category-item" *ngIf="!item.disabled">
  <a *ngIf="item.url; else noLink" target="_blank"
     href="{{item.url}}">
    {{item.name}}
    <img *ngIf="item.imageurl" height="150px" loading=lazy alt="{{item.name}}"
         src="{{item.imageurl}}">
  </a>
  <ng-template #noLink>
    <div class="nolink">
      {{item.name}}
      <img *ngIf="item.imageurl" height="150px" loading=lazy alt="{{item.name}}"
           src="{{item.imageurl}}">
    </div>
  </ng-template>
  <span class="price">{{item.price}}€</span>
</li>
