<div
  style="width: 98vw; height: 98vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <span class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="email">
      <label for="float-input">E-Mail</label>
  </span>
  <div style="height: 25px;"></div>
  <p-button label="Send Magick Link" icon="pi pi-sign-in" iconPos="right" [disabled]="loading"
            (click)="login()"></p-button>
</div>
